.header {
  &__container {
    max-width: 1514px;
  }
}
.top-header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 30px 0 0 0;
  margin-bottom: 26.5px;
  &__column {
    display: flex;
    align-items: flex-start;
    &:first-child, &:last-child {
      height: 40px;
      border-bottom: 1px solid #A4A4A4;
      flex: 1 1 auto;
    }
  }
  &__column--logo {
    flex: 0 0 321px;
    padding: 0 30px
  }
  &__logo {
    display: block;
    max-width: 100%;
    img {
      display: block;
      width: 100%
    }
  }
  &__phone {
    flex: 1 1 auto;
    text-align: center;
    @media (max-width: $bp3) {
      display: none
    }
  }
  &__social {
    flex: 1 1 auto;
    @media (max-width: $bp3) {
      display: none
    }
  }
  @media (max-width: $bp3) {
    border-bottom: 1px solid #A4A4A4;
    align-items: center;
    &__column {
      align-items: center
    }
    &__column {
      &:first-child,&:last-child {
        border-bottom: 0;
        flex: 0 0 auto;
      }
    }
    &__column--logo {
      flex: 1 1 auto;
      display: flex;
      justify-content: center 
    }
  }
  @media (max-width: $bp5) {
    &__logo {
      width: 137px
    }
    
  }
}

.social {
  display: flex;
  align-items: center;
  justify-content: center;
  &__item {
    margin: 0 4px;
    display: block;
    width: 24px;
    height: 24px;
  }
  &__icon {
    width: 24px;
    height: 24px;
    fill: #B69D86
  }
}

.phone {
  a {
    font-weight: 800;
    font-size: 18px;
    color: $maincolor;
  }
}

.search-btn {
  cursor: pointer;
  width: 24px;
  height: 25px;
  background: url('../img/icons/search.svg') center no-repeat;
  position: relative;
  z-index: 20;
  @media (max-width: $bp5) {
    display: none;
  }
  &.visible {
    display: block;
  }
  &.active {}
}
.search-btn.active + .search {
  display: block
}
.cart {
  width: 24px;
  height: 20px;
  margin-left: 17px;
  background: url('../img/icons/cart.svg') center no-repeat;
  position: relative;
  z-index: 20;
}

.bottom-header {
  display: flex;
  justify-content: center;
  @media (max-width: $bp3) {
    flex-direction: column;
    align-items: center;

  }
  &__social {
    display: none;
    .social__item, .social__icon {
      width: 32px;
      height: 32px;
      margin: 0 10px;
    }
    @media (max-width: $bp3) {
      display: block;
      margin-bottom: 14px;
    }
  }
  &__phone {
    display: none;
    a{
      font-weight: 800;
      font-size: 18px;
      letter-spacing: -0.01em;
      color: #664B42;
    }
    @media (max-width: $bp3) {
      display: block
    }
  }
}

.menu {
  position: relative;
  z-index: 10;
  &__list {
    display: flex;
    align-items: center;
    padding: 12.5px 58px;
    background-color: #fff;
    border-radius: 8px;
  }
  &__item {
    margin: 0 25px;
    border-bottom: 2px solid transparent;
  }
  &__item--has-subnavs {
    @media (min-width: $bp2) {
      &:hover {      
        border-bottom: 2px solid $secondcolor;
        .menu__link {
          color: $secondcolor;
        }
        .subnav-menu__list {
          transform: translateY(0)
        }
        .subnav-menu {
          visibility: visible;
        }
      }
    }
  }
  &__link {
    color: $maincolor;
    font-weight: 700;
    font-size: 1rem;
    line-height: 120%;
    cursor: pointer
  }
  @media (max-width: $bp3) {
    visibility: hidden;
    opacity: 0;
    transition: all .5s ease;
    &__list {
      flex-direction: column;
      border-radius: 0;
      position: fixed;
      top: 0px;
      left: 0;
      right: 0;
      bottom: 0;
      overflow: scroll;
      align-items: flex-start;
      padding: 60px 19px;
      &:before {
        content: "";
        display: block;
        width: 100%;
        position: fixed;
        top: 0px;
        left: 0;
        right: 0;
        height: 61px;
        background-color: #fff;
        z-index: 10;
      }
    }
    &__item {
      width: 100%;
      margin: 0;
      border-bottom: 1px solid $maincolor;
    }
    &__link {
      font-size: 22px;
      line-height: 4;
      display: block;
      @media (max-width:$bp5) {
        line-height: 2.4;
      }
    }
  }
  &.active {
    visibility: visible;
    opacity: 1;
  }
}
.subnav-menu {
  &__list {
    width: 100%;
    height: 100%;
    transition: all .5s linear;
  }
  &__item {
    display: flex;
    align-items: center;
  }
  &__img {}
  &__link {
    letter-spacing: -0.01em;
    svg {
      display: none
    }
  }
  @media (max-width: $bp2) {
    display: none;
    .active {
      display: block
    }
    &__img {
      margin-right: 15px;
    }
    &__item {
      height: 56px;
      background-color: #f7f7f7;
      margin-bottom: 4px;
      border-radius: 4px;
      padding: 0 15px;
      &:last-child {
        margin-bottom: 12px;
      }
    }
  }
  @media (min-width: $bp2) {
    border-radius: 8px;
    visibility: hidden;
    overflow: hidden;
    position: absolute;
    left: 0;
    right: 0;
    top: calc(100% - 10px);
    &__list {
      padding: 40px 0;
      display: flex;
      flex-wrap: wrap;
      background-color: #fff;
      transform: translateY(-100%);
    }
    &__item {
      flex: 0 0 25%;
      padding: 0 20px;
      flex-direction: column;
      margin-bottom: 10px;
    }
    &__link {
      &:hover {
        svg {
          display: block
        }
      }
    }
  }
}
.menu__link--subnavs.active + .subnav-menu {
  display: block
} 
.icon-menu {
 // display: none;
  @media (max-width: $bp2) {
    position: relative;
    z-index: 20;
    display: flex;
    width: 24px;
    height: 20px;
    flex-direction: column;
    justify-content: space-between;
    &__item, &::before, &:after{
      width: 25px;
      height: 3px;
      background-color: #A28276;
      transition: all .3s ease;
      border-radius: 3px;
    }
    &::before, &:after {
      content: "";
    }
    &.active {
      justify-content: center;
      .icon-menu__item {
        transform: scale(0)
      }
      &::before {
        position: absolute;
        transform: rotate(45deg)
      }
      &::after {
        position: absolute;
        transform: rotate(-45deg)
      }
    }
    
  }
}
.icon-menu.active .menu {
  display: block
}


